<form class="margin-top-20">
  <input type="checkbox" id="advancedSettingsCheckbox" [(ngModel)]="advancedSettingsEnabled"
    name="advancedSettingsEnabled" />

  <label for="advancedSettingsCheckbox">Activer les paramètres avancés</label>

  <fieldset [disabled]="!advancedSettingsEnabled">
    <legend>Paramètre avancé</legend>

    <div class="content">
      <h3>Connection</h3>
      <p>
        Adresse IP OLA:
        <input type="text" [(ngModel)]="olaIp" name="olaIp" style="width: 125px;" placeholder="192.168.2.52"
          (ngModelChange)="onIpChange()" />
        :
        <input type="text" [(ngModel)]="olaPort" name="olaPort" style="width: 50px;" placeholder="9090"
          (ngModelChange)="onPortChange()" />
        <button (click)="saveIp()" [disabled]="ipSaved && portSaved" class="button">Save</button>
      </p>
      <h3>Ajustements</h3>
      <p>
        Vertical adjust:
        <input class="slider-size" type="range" [(ngModel)]="verticalAdjust" (ngModelChange)="onVerticalAdjustChange()"
          min="31" max="95" value="63" name="verticalAdjust" />
        <button (click)="resetVerticalAdjust()" class="button">Reset</button>
      </p>
      <h3>Animations</h3>
      <p>
        <input type="checkbox" id="horizontalAnimationCheckbox" name="horizontalAnimationCheckbox"
          [(ngModel)]="horizontalAnimationEnabled" (ngModelChange)="onHorizontalAnimationEnable()" />
        <label for="horizontalAnimationCheckbox">Horizontal Animation</label>
        <input [disabled]="!horizontalAnimationEnabled" class="slider-size" type="range"
          name="horizontalAnimationSlider" [(ngModel)]="horizontalAnimationSpeed"
          (ngModelChange)="onHorizontalAnimationChange()" min="127" value="127" max="190" />
        <span>{{ horizontalAnimationSpeedPercent }}%</span>
      </p>
      <p>
        <input type="checkbox" id="verticalAnimationCheckbox" name="verticalAnimationCheckbox"
          [(ngModel)]="verticalAnimationEnabled" (ngModelChange)="onVerticalAnimationEnable()" />
        <label for="verticalAnimationCheckbox">Vertical Animation</label>
        <input [disabled]="!verticalAnimationEnabled" class="slider-size" type="range" name="verticalAnimationSlider"
          [(ngModel)]="verticalAnimationSpeed" (ngModelChange)="onVerticalAnimationChange()" min="127" value="127"
          max="190" />
        <span>{{ verticalAnimationSpeedPercent }}%</span>
      </p>
      <p>
        <input type="checkbox" id="strobeModeCheckbox" name="strobeModeCheckbox" [(ngModel)]="strobeModeEnabled"
          (ngModelChange)="onStrobeModeChange()" />
        <label for="strobeModeCheckbox">Strobe Mode</label>
      </p>
    </div>
  </fieldset>
</form>