.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mode-button {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  font-weight: bold;
  background-color: #777777;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
}

.mode-container button:last-child {
  margin-right: 0;
}

.sync-button {
  margin-right: 0;
  margin-top: 10px;
  height: 50px;
}

.active {
  background-color: green;
}

@keyframes blink {

  0%,
  100% {
    background-color: none;
  }

  50% {
    background-color: rgb(229, 229, 23);
  }
}

.blinking-button {
  animation: blink 1s steps(1, start) infinite;
}