.mode-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mode-container button {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

.mode-container button:last-child {
  margin-right: 0;
}

.active {
  background-color: green;
}
