.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 20px;
}

.color-button {
  width: 100px;
  height: 100px;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
}

.mini-color-button {
  width: 50px;
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 5px;
}

.mini-color-button:last-child {
  margin-right: 0;
}

.individual-color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pattern-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern-button {
  width: 100px;
  height: 50px;
  border: none;
  font-weight: bold;
  background-color: #777777;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
}

.pattern-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern-selector-container>div {
  margin-right: 5px;
}

.pattern-selector-container>div:last-child {
  margin-right: 0;
}

.sync-button {
  margin-top: 5px;
}

@keyframes blink {

  0%,
  100% {
    background-color: none;
  }

  50% {
    background-color: rgb(229, 229, 23);
  }
}

.blinking-button {
  animation: blink 1s steps(1, start) infinite;
}