<div class="container">
  <div class="color-container">
    <button
      (click)="changeLaserColor()"
      [ngStyle]="
        currentColor.isMutliColor
          ? {
              'background-image':
                'linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet)'
            }
          : { 'background-color': currentColor.name }
      "
      class="color-button"
    >
      Laser Color
    </button>
    <button
      (click)="bpmSync(bpmSyncTypes.COLOR)"
      [ngClass]="{
        'blinking-button': currentBpmSyncType === bpmSyncTypes.COLOR
      }"
      class="pattern-button sync-button"
    >
      BPM Sync
    </button>
  </div>

  <div class="pattern-container">
    <div class="pattern-buttons">
      <button
        *ngFor="let pattern of patterns"
        [ngStyle]="
          currentPattern.name == pattern.name
            ? { 'background-color': 'green' }
            : {}
        "
        (click)="setPattern(pattern)"
        class="pattern-button"
      >
        {{ pattern.representation }}
      </button>
    </div>
    <button
      (click)="bpmSync(bpmSyncTypes.PATTERN)"
      [ngClass]="{
        'blinking-button': currentBpmSyncType === bpmSyncTypes.PATTERN
      }"
      class="pattern-button sync-button"
    >
      BPM Sync
    </button>
  </div>
</div>
